@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
@import 'styles/config';
@import 'styles/utilities';

// General
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  background: $light-mode-background;
}

#main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  #navbar {
    position: fixed;
    background: $light-mode-navbar-bg;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100px;
    border-radius: 0px 20px 20px 0px;
    z-index: 9999;

    #home-icon {
      position: absolute;
      height: 100px;
      width: 100px;
      border-radius: 0px 20px 20px 0px;
      background: $home-icon-dark-purp;

      #home-icon-bot {
        position: absolute;
        height: 50px;
        width: 100px;
        border-radius: 20px 0px 20px 0px;
        background: $home-icon-light-purp;
        top: 50px;
      }

      #home-icon-circle {
        position: absolute;
        left: 30px;
        top: 30px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #ffffff;
      }

      #home-icon-triangle {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid $home-icon-dark-purp;
        left: 40px;
        top: 30px;
      }
    }

    #mode-toggle {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 40px;
      bottom: 121px;

      &:hover {
        cursor: pointer;
      }
    }

    #horizontal-line {
      position: absolute;
      width: 100px;
      height: 1px;
      bottom: 88px;
      background: #494e6e;
    }

    #prof-pic {
      position: absolute;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      left: 30px;
      bottom: 24px;
      background-image: url(images/prof-pic.jpg);
    }
  }

  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 60px;
    margin-top: 60px;

    #header-left {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 32px;
      }

      p {
        font-size: 12px;
      }
    }

    #header-right {
      display: flex;
      align-items: center;

      #filter-dropdown {
        display: flex;
        width: 130px;
        height: 15px;
        margin-right: 20px;

        p {
          font-size: 12px;
          font-weight: 700;
          padding-right: 10px;
          &:hover {
            cursor: pointer;
          }
        }

        img {
          border: 2px solid transparent;
          &:hover {
            cursor: pointer;
          }
        }

        #filter-modal {
          position: absolute;
          height: 130px;
          width: 200px;
          top: 125px;
          right: 520px;
          background: #ffffff;
          box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
          border-radius: 8px;
          padding-bottom: 20px;

          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 30px;
            li {
              display: flex;
              flex-direction: row;
              align-items: center;
              list-style: none;

              p {
                font-size: 12px;
                font-weight: 700;
                color: #0c0e16;
                padding-left: 10px;

                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      #new-invoice-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 140px;
        height: 45px;
        border-radius: 24px;
        background: #7c5dfa;
        color: #ffffff;

        #new-invoice-icon {
          height: 32px;
          width: 32px;
          background: #ffffff;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5px;

          img {
            height: 12px;
            width: 12px;
          }
        }

        p {
          font-size: 12px;
          font-weight: 700;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    #new-invoice-modal {
      position: absolute;
      height: auto;
      width: 35vw;
      top: 0;
      left: 0;
      background: #ffffff;
      border-radius: 0px 20px 20px 0px;
      padding: 50px 50px 50px 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #new-invoice-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #0c0e16;
        margin-bottom: 20px;
      }

      #ni-bill-from {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;

        #street-address {
          input {
            width: 99.8%;
          }
        }

        #ni-city-zip-country {
          width: 100%;
          display: flex;
          justify-content: space-between;

          input {
            width: 150px;
          }
        }
      }

      #ni-bill-to {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;

        #bt-cityzipcountry {
          width: 100%;
          display: flex;
          justify-content: space-between;

          input {
            width: 150px;
          }
        }

        #td-date-terms {
          width: 100%;
          display: flex;
          justify-content: space-between;

          input {
            width: 240px;
          }

          #payment-terms-drop {
            height: 50px;
            border: 1px solid #dfe3fa;
            border-radius: 4px;
            width: 240px;

            #term-arrow {
              height: 50px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 0 1rem;
            }

            #dropdown-items {
              background: #ffffff;
              display: none;
              position: absolute;
              z-index: 10;
              width: 241px;

              p {
                border-bottom: 1px solid #dfe3fa;
                padding: 1rem;

                &:hover {
                  cursor: pointer;
                  background: #f9fafe;
                }
              }

              :last-child {
                border: none;
              }
            }

            &:hover {
              cursor: pointer;

              #dropdown-items {
                display: block;
              }
            }
          }
        }
      }

      #ni-item-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;

        #modal-item-list-header {
          display: grid;
          grid-template-columns: 250px 80px 90px 50px;
        }

        #modal-item-list-inputs {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          #item-name-input {
            width: 215px;
          }

          #qty-input {
            width: 50px;
          }

          #price-input {
            width: 50px;
          }

          p {
            width: 80px;
            text-align: center;
            font-weight: 700;
          }

          img:hover {
            cursor: pointer;
          }
        }

        #modal-add-new-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50px;
          background: #f9fafe;
          border-radius: 24px;
          color: #7e88c3;

          &:hover {
            cursor: pointer;
          }
        }
      }

      #ni-bot-btns {
        display: flex;
        justify-content: space-between;

        .discard {
          color: #7e88c3;
          background: #f9fafe;
          width: 100px;
        }

        #save-btns {
          display: flex;
          justify-content: space-between;

          .draft {
            color: #7e88c3;
            background: #373b53;
            margin-right: 10px;
          }

          .send {
            color: #ffffff;
            background: #7c5dfa;
          }
        }
      }
    }
  }

  #invoices {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 750px;

    #invoice-list {
      margin-top: 2rem;
      width: 100%;

      .invoice-item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        height: 75px;
        background: #ffffff;
        margin: 8px 0;
        box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
        border-radius: 8px;

        .item-id {
          align-self: center;
          font-size: 12px;
          font-weight: 700;
          margin-left: 20px;
          color: #0c0e16;
        }

        .item-created-at {
          align-self: center;
          font-size: 12px;
          font-weight: 500;
          color: #888eb0;
        }

        .item-client-name {
          align-self: center;
          font-size: 12px;
          font-weight: 500;
          color: #858bb2;
        }

        .item-payment-due {
          display: flex;
          justify-content: flex-end;
          align-self: center;
          margin-right: 50px;
          font-size: 16px;
          font-weight: 700;
          color: #0c0e16;
        }

        .colored-part-and-arrow {
          display: flex;
          justify-content: center;
          align-items: center;

          .item-status-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 105px;
            height: 40px;
            align-self: center;
            border-radius: 6px;
            margin-left: -20px;

            .dot {
              height: 8px;
              width: 8px;
              border-radius: 50%;
              margin-right: 8px;
            }

            .item-status {
              font-size: 12px;
              font-weight: 700;
            }
          }

          img {
            margin-left: 20px;
          }
        }

        &:hover {
          cursor: pointer;
          border: 1px solid #7c5dfa;
          height: 73px;
        }
      }
    }

    #empty-container {
      margin-top: 5rem;
      width: 280px;
      height: 350px;
      text-align: center;

      img {
        margin-bottom: 50px;
      }

      h2 {
        margin-bottom: 25px;
      }

      p {
        font-size: 12px;
        font-weight: 500px;
      }
    }
  }

  #details-container {
    width: 750px;
    height: auto;
    margin-top: 30px;

    #back-button {
      width: 80px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      p {
        font-size: 12px;
        font-weight: 700;
      }

      &:hover {
        cursor: pointer;
      }
    }

    #details-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      background: #ffffff;
      box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
      border-radius: 8px;
      padding: 0 40px;
      margin-bottom: 15px;

      #dh-status {
        display: flex;
        justify-content: space-between;
        height: 40px;
        width: 160px;

        #status-word {
          align-self: center;
          font-size: 12px;
          font-weight: 500;
          color: #858bb2;
        }

        .item-status-container {
          width: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;

          .dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 10px;
          }

          .item-status {
            font-size: 12px;
            font-weight: 700;
          }
        }
      }

      #dh-options {
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 310px;

        #edit {
          width: 75px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 24px;
          background: #f9fafe;
          color: #7e88c3;

          p {
            font-size: 12px;
            font-weight: 700;
          }

          &:hover {
            cursor: pointer;
          }
        }

        #delete {
          width: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 24px;
          background: #ec5757;
          color: #ffffff;

          p {
            font-size: 12px;
            font-weight: 700;
          }

          &:hover {
            cursor: pointer;
          }
        }

        #mark-as-paid {
          width: 135px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 24px;
          background: #7c5dfa;
          color: #ffffff;

          p {
            font-size: 12px;
            font-weight: 700;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    #details-card {
      height: auto;
      background: #ffffff;
      box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;
      margin-bottom: 50px;

      #top-details {
        position: relative;
        height: 300px;

        #td-group1 {
          position: absolute;
          top: 0;
          left: 0;
        }
        #td-group2 {
          position: absolute;
          top: 100px;
          left: 0;
        }
        #td-group3 {
          position: absolute;
          top: 175px;
          left: 0;
        }
        #td-group4 {
          position: absolute;
          top: 100px;
          left: 200px;
        }
        #td-group5 {
          position: absolute;
          top: 100px;
          left: 400px;
        }
        #td-group6 {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      #details-card-items {
        background: #f9fafe;
        border-radius: 8px 8px 0px 0px;
        padding: 30px 30px 0 30px;

        #dc-items-header {
          display: grid;
          grid-template-columns: 300px 95px 75px 115px;
          padding-bottom: 30px;

          p {
            font-size: 11px;
            font-weight: 500;
            color: #7e88c3;
          }

          #qty {
            display: flex;
            justify-content: flex-start;
          }

          #price {
            display: flex;
            justify-content: flex-end;
            margin-left: -30px;
          }

          #total {
            display: flex;
            justify-content: flex-end;
          }
        }

        .item-info {
          display: grid;
          grid-template-columns: 300px 95px 75px 115px;
          padding-bottom: 30px;

          .item-info-name {
            font-weight: 700;
            font-size: 12px;
            color: #0c0e16;
          }

          .item-info-quantity {
            font-weight: 700;
            font-size: 12px;
            color: #7e88c3;
            display: flex;
            justify-content: flex-start;
            margin-left: 10px;
          }

          .item-info-price {
            font-weight: 700;
            font-size: 12px;
            color: #7e88c3;
            display: flex;
            justify-content: flex-end;
            margin-left: -30px;
          }

          .item-info-total {
            font-weight: 700;
            font-size: 12px;
            color: #0c0e16;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
      #details-card-total {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        background: #373b53;
        border-radius: 0px 0px 8px 8px;

        #amount-due {
          font-size: 11px;
          font-weight: 500;
          color: #ffffff;
        }

        #dc-total {
          font-size: 24px;
          font-weight: 700;
          color: #ffffff;
        }
      }
    }

    #edit-invoice-modal {
      position: absolute;
      height: auto;
      width: 35vw;
      top: 0;
      left: 0;
      background: #ffffff;
      border-radius: 0px 20px 20px 0px;
      padding: 50px 50px 50px 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #new-invoice-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #0c0e16;
        margin-bottom: 20px;
      }

      #ni-bill-from {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;

        #street-address {
          input {
            width: 99.8%;
          }
        }

        #ni-city-zip-country {
          width: 100%;
          display: flex;
          justify-content: space-between;

          input {
            width: 150px;
          }
        }
      }

      #ni-bill-to {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 20px;

        #bt-cityzipcountry {
          width: 100%;
          display: flex;
          justify-content: space-between;

          input {
            width: 150px;
          }
        }

        #td-date-terms {
          width: 100%;
          display: flex;
          justify-content: space-between;

          input {
            width: 240px;
          }
        }
      }

      #ni-item-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 40px;

        #modal-item-list-header {
          display: grid;
          grid-template-columns: 250px 80px 90px 50px;
        }

        #modal-item-list-inputs {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          #item-name-input {
            width: 215px;
          }

          #qty-input {
            width: 50px;
          }

          #price-input {
            width: 50px;
          }

          p {
            width: 80px;
            text-align: center;
            font-weight: 700;
          }

          img:hover {
            cursor: pointer;
          }
        }

        #modal-add-new-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50px;
          background: #f9fafe;
          border-radius: 24px;
          color: #7e88c3;

          &:hover {
            cursor: pointer;
          }
        }
      }

      #ni-bot-btns {
        display: flex;
        justify-content: flex-end;

        #cancel-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 135px;
          background: #f9fafe;
          border-radius: 24px;
          margin-right: 5px;

          p {
            font-size: 12px;
            font-weight: 700;
            color: #7e88c3;
          }

          &:hover {
            cursor: pointer;
          }
        }

        #save-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 135px;
          background: #7c5dfa;
          border-radius: 24px;

          p {
            font-size: 12px;
            font-weight: 700;
            color: #ffffff;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    #delete-modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 250px;
      width: 480px;
      background: #ffffff;
      box-shadow: rgba(72, 84, 159, 0.100397);
      border-radius: 8px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #dm-heading {
        font-size: 24px;
        font-weight: 700;
        color: #0c0e16;
      }

      #dm-question {
        font-size: 16px;
        font-weight: 500;
        color: #888eb0;
      }

      #dm-btns {
        display: flex;
        justify-content: flex-end;

        #dm-cancel {
          width: 91px;
          height: 48px;
          margin-right: 10px;
          border-radius: 24px;
          background: #f9fafe;
          display: flex;
          justify-content: center;
          align-items: center;

          #cancel {
            font-size: 12px;
            font-weight: 700;
            color: #7e88c3;
          }

          &:hover {
            cursor: pointer;
          }
        }

        #dm-delete {
          width: 91px;
          height: 48px;
          border-radius: 24px;
          background: #ec5757;
          display: flex;
          justify-content: center;
          align-items: center;

          #delete {
            font-size: 12px;
            font-weight: 700;
            color: #ffffff;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
