// Utilities

#paid {
  background: rgba(51, 214, 159, 0.06);

  .dot {
    background-color: #33d69f;
  }

  .item-status {
    color: #33d69f;
  }
}

#pending {
  background: rgba(255, 143, 0, 0.06);

  .dot {
    background-color: #ff8f00;
  }

  .item-status {
    color: #ff8f00;
  }
}

#draft {
  background: rgba(55, 59, 83, 0.06);

  .dot {
    background-color: #373b53;
  }

  .item-status {
    color: #373b53;
  }
}

.td-bold {
  font-size: 16px;
  font-weight: 700;
  color: #0c0e16;
  line-height: 24px;
}

.td-beautiful {
  font-size: 12px;
  font-weight: 500;
  color: #7e88c3;
  line-height: 24px;
}

.modal-sec-title {
  font-size: 12px;
  font-weight: 700;
  color: #7c5dfa;
  line-height: 24px;
}

.modal-big-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #777f98;
}

input {
  height: 50px;
  border: 1px solid #dfe3fa;
  border-radius: 4px;
}

.back-drop {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: all 1.3s;
}
